// Microsoft Visual C++ generated resource script.
//
#include "../include/resource.h"
/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

BMP_NEW                     BITMAP                  "../bitmaps/new.bmp"
BMP_OPEN                    BITMAP                  "../bitmaps/open.bmp"
BMP_SAVE                    BITMAP                  "../bitmaps/save.bmp"
BMP_WXBITMAP_STD_COLOURS    BITMAP                  "../bitmaps/colours.bmp"
BMP_FINGER                  BITMAP                  "../bitmaps/finger.bmp"
BMP_PLAY                    BITMAP                  "../bitmaps/play.bmp"
BMP_PAUSE                   BITMAP                  "../bitmaps/pause.bmp"
BMP_REWIND                  BITMAP                  "../bitmaps/rewind.bmp"
BMP_SINGLESTEPBACK          BITMAP                  "../bitmaps/singlestepback.bmp"
BMP_SINGLESTEP              BITMAP                  "../bitmaps/singlestep.bmp"
BMP_UP                      BITMAP                  "../bitmaps/up.bmp"
BMP_DOWN                    BITMAP                  "../bitmaps/down.bmp"
BMP_PLUS                    BITMAP                  "../bitmaps/plus.bmp"
BMP_MINUS                   BITMAP                  "../bitmaps/minus.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
GUI                     ICON                    "../bitmap/gui.ico"

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

